* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.3em;
}

body {
    padding: 50px;
    background-color: rgb(90, 90, 90);
    color: #fff;
}

#chat-container {
    width: 300px;
}


.chat-messages, .chat-newmessage {
    margin-top: 30px;
}

textarea#newmessage {
    padding: 5px;
    margin-top: 10px;
    width: 100%;
    resize: vertical;
}

.message {
    margin-top: 5px;
    padding: 5px;
    background-color: #08f;
    width: 80%;
    margin-left: auto; 
    margin-right: 0;
}

.message.own {
    background-color: #097;
    margin-left: 0; 
    margin-right: auto;
}

.message > .header {
    font-size: small;
    font-weight: 300;
}






